<h1 class="title">{{title}}</h1>
<form>
	<table class="tableProduct">
		<thead>
			<tr>
				<td><b>{{ product.manufacturer }} {{product.name }}</b></td>
				<td><p>{{ addedProduct }}</p></td>
				<td></td>
				<td></td>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>{{ product.description }}.</td>
				<td><b>Pris:</b> {{ product.price }} </td>
				<td><b>Antal:</b> <input type="text" data-ng-model="cart_product.count" value="1" size="3" placeholder="1"></td>
				<td><button type="submit" data-ng-click="addProductToCart(id)">Lägg i varukorg</button></td>
			</tr>
		</tbody>
	</table>
</form>
