<h1 class="title">{{title}}</h1>

<table class="tableProduct">
	<thead>
		<tr>
			<td><b>Märke</b></td>
			<td><b>Name</b></td>
			<td><b>Beskrivning</b></td>
			<td><b>Pris</b></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="p in products | filter:search | orderBy:'manufacturer'" class="products">
		<td><b>{{ p.manufacturer }}</b></td>
		<td><a data-ng-href="#!/product/{{ p.name }}"><b>{{ p.name }}</b></a></td>
		<td>{{ p.description }}</td>
		<td>{{ p.price }}</td>
		<td><button type="submit" data-ng-click="addProductToCart(p.id)">Lägg i varukorg</button></td>
		</tr>
	</tbody>	
</table>