<h1 class="title">{{title}}</h1>

<table class="tableCartProducts">
	<thead>
		<tr>
			<td><b>Märke</b></td>
			<td><b>Name</b></td>
			<td><b></b></td>
			<td><b>Pris</b></td>
			<td><b>Antal</b></td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="p in products | filter:search | orderBy:'name'" class="product">
		<td>{{ p.manufacturer }}</td>
		<td><a data-ng-href="#!/product/{{ p.id }}">{{ p.name }}</a></td>
		<td></td>
		<td>{{ p.price }}</td>
		<td><input type="text" value="{{ p.count }}" size="3"/></td>
		<td><button type="submit" data-ng-click="updateProductCountInCart(p.id)">Uppdatera antal</button></td>
		<td><button type="submit" data-ng-click="deleteProduct(p.id)">Ta bort från varuvagn</button></td>
		</tr>
	</tbody>	
</table>