<h1 class="title">{{title}}</h1>

<table class="tableCartProducts">
	<thead>
		<tr>
			<td><b>Märke</b></td>
			<td><b>Name</b></td>
			<td><b>Antal</b></td>
			<td><b>Pris</b></td>
			<td><b>Antal</b></td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="p in products | filter:search | orderBy:'name'" class="product">
		<td>{{ p.manufacturer }}</td>
		<td><a data-ng-href="#!/product/{{ p.name }}">{{ p.name }}</a></td>
		<td>{{ p.description }}</td>
		<td>{{ p.price }}</td>
		<td>{{ p.count }} </td>
		<td><button type="submit" data-ng-click="UppdateProductCountInCart(id)">Uppdatera antal</button></td>
		<td><button type="submit" data-ng-click="removeProductFromCart(id)">Ta bort från varuvagn</button></td>
		</tr>
	</tbody>	
</table>